.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.image-div {
  border-radius: 50%;
  box-shadow: 1px 1px 3px var(--color-purple), -1px -1px 3px var(--color-orange);
}

.image-div img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 50%;
  margin-top: 100px;
}

.container h1 {
  font-family: "Lora";
  letter-spacing: 3px;
  font-size: 2.5rem;
  margin: 20px 0;
  background: linear-gradient(135deg, var(--color-orange), var(--color-purple));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container p {
  color: var(--color-text-2);
  letter-spacing: 1px;
}