.navbar-header {
  z-index: 1;
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav-scroll {
  background: rgba(0, 0, 0, 0.486);
  margin: 0;
  padding: 7px 0;
}

.nav-scroll .logo{
  font-size: 2.5rem;
  transform: rotate(-45deg);
}

.navbar ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
}

.links a{
  margin: 0 20px;
  font-weight: 700;
  color: var(--color-text-2);
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
  font-size: 1.25rem;
}

.links a:hover{
  color: orange;
  text-shadow: 2px 2px 2px var(--color-shadow-pink);
}

.logo {
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

@media (hover: hover) and (pointer: fine){
  .logo:hover {
    transform: rotate(135deg) scale(1.5, 1.5);
  }
  
  .nav-scroll:hover {
    background: black;
  }
}